# Python
__pycache__/
*.py[cod]
*.pyd
venv/
.venv/

# Environment variables
.env
.env.*

# Node
node_modules/
.next/
dist/
build/

# Uploads
uploads/
storage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-data/